* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

  .toastify {
    padding: 12px 20px;
    color: #ff4b2b;;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background-color: white;
    position: fixed;
    top: -150px;
    right: 15px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
  }
  .toastify.on { opacity: 1; }

header{
    background-color:#ff4b2b;
    padding:17px 20px;
    color: white;
    position: fixed;
    width: 100vw;
}

header h1{
    font-size: 22px;
}

main{
    padding-top: 50px;
}

.bottom-nav div{
    border-top: 2px transparent solid;
    list-style: none;
    display: flex;
    padding: 15px;
    flex:1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer{
    position:fixed;
    bottom: 0px;
    left:0px;
    background-color: white;
    margin-top: 30px;
    width:100dvw;
}

.bottom-nav{
    background-color:#eee;
}

.bottom-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.not-found{
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.not-found h2{
    font-size: larger;
    font-weight:bold;
    text-wrap: nowrap;
}


.not-found div{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    border-color: #ff4b2b;
}
