*{
    padding: 0%;
    margin: 0%;
}
main{
    margin-bottom: 50px;
}


.post{
    padding:10px 23px;
    border-bottom: 2px rgb(209, 209, 209) solid;
}

.post-user-details{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0px;
}

.post-user-details p{
    font-weight:600;
    font-size: medium;
}

.post-details p{
    padding: 5px 0px;
    font-size: small;
}

.post-user-details img{
    border-radius: 50%;
}

.post-img{
    width:100%;
    height: auto;
    border-radius:20px ;
}

.post-detail{
    padding:7px 0px ;
    margin-bottom: 10px;
    text-align: left;
    width:fit-content;
    max-height: 80px;
    overflow: scroll;
    text-overflow: ellipsis;
    font-size: small;
}

