#profile-image-details{
    width: 100%;
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profile-image{
    width:70px;
    height: auto;
    border-radius: 20px;
}